



html, body{

    font-family: 'Montserrat', sans-serif;
    display: flex; 
    flex-direction: column;
    } 
    
    
    .content{
     
      flex: 1 0 auto;
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
      color:white;
    
    }
    
    
    *{ 
    
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    
    
    } 
    
    
    .container{
    
        width: 90;
        margin: 0 auto;
        padding: 10px;
        overflow: none; 
  
    } 
    
    
    .app-header{
        /*background-color: #efefef;*/
        box-shadow: 3px 3px 10px #1c1c1b; 
        border-radius: 5px; 
        background-color: #36096d;
        background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
       /* background-image: linear-gradient(315deg, #faac88 0%, #f7b689 30%,#faac88 74%);*/
        /*background-image: url('gold-foil-texture.jpg');*/
      
      background-repeat:no-repeat;
   
      
      font-size: 15px;
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
      /* background-repeat: repeat; */
      background-size: 100%; 
        color: #ffff;
    
    }  
  
  
    .time{
      align-self: flex-end;
      color: #ffff;
      font-size: 12px;
      font-weight:lighter;
      margin-top: 9px;
      margin-bottom: 17px;
    }
  
  
    .app-header .logo{
        width: 170px;
        margin-bottom: 16px;
    } 
    
     #appName{
    
        
      
      /* color: #ffff; */
       color: #ffff;
      background-image: url('gold-foil-texture.jpg');
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      
      font-size: 25px;
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
      /* background-repeat: repeat; */
      background-size: 100%;
      margin-bottom: 9px;
  
      /*text-shadow: antiquewhite -2px 1px;*/
  
  }
  
     
    
    
    .app-header .container{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding: 15px 10px;
  
        box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-image: url('gold-foil-texture.jpg');
      
      background-repeat: repeat;
      -webkit-background-clip: text;
      background-clip: text;
      /*-webkit-text-fill-color: transparent;*/
      
      font-size: 15px;
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
      /* background-repeat: repeat; */
      background-size: 100%;
        color: #ffff;
    
  }
    
     
    
    .app-header input[type="text"]{
  
        outline: none;
        padding: 7px; 
        width: 300px; 
        height: 39px;
        border: 0;
        border-radius: 30px; 
        font-family: 'Montserrat', sans-serif; 
        /*background: #f3eded; */
        color: #ffff;
        display: block;
        margin-bottom: 9px;
        background: #3e414570;
  
        
    } 
    
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Montserrat', sans-serif;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: 'Montserrat', sans-serif;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: 'Montserrat', sans-serif;
      }   
    
    
      .inputAndMagnifyingBtn{
    
      position: relative;
      width: 300px;
      margin-top: 40px;
      -webkit-text-fill-color: #f3eded;
      } 
    
    
    
      .inputAndMagnifyingBtn button {
        background: transparent;
        color: #013238;
        border: none;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 20px;
        z-index: 2; 
  
       
      }
    
    
    
      .subheader {
        
      color: #263131;
        /*box-shadow: 3px 3px 10px #888888;*/
        font-size: 14px;
        padding: 39px;
        width: 100%;
        margin: 0 auto 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; 
  
        background-image: url('gold-foil-texture.jpg');
      
      background-repeat: repeat;
      -webkit-background-clip: text;
      background-clip: text;
      /*-webkit-text-fill-color: transparent;*/
       color: #ffff;
      }
      
    
      .city{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;  
        margin: 4px;
        color: #ffff;
      } 
    
    
      .temp{
        font-family: 'Montserrat', sans-serif;
        font-size:22px;
        font-weight: bold; 
        margin: 4px;
        color: #ffff;
      }  
    
      .feelsLike{
    
        font-family: 'Montserrat', sans-serif;
        font-size:16px;
        margin-bottom: 8px;
        color: #ffff;
      }
    
    
    
    
      .hi-low {
    
      font-family: 'Montserrat', sans-serif;
    
      } 
    
    
      .gridOf3{
    
        /*background-image: url(logoPlant500px.png);*/
      background-size: 130%;
      background-position: center;
      /*background-repeat: no-repeat;*/
        
      background-image: url('gold-foil-texture.jpg');
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    
        color:#fff;   
    
        /*box-shadow: 3px 3px 10px #888888;*/
    
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       /* grid-template-columns: 1fr 1fr 1fr; if we wanted three items horizontally in our grid! */
        grid-gap: 10px; 
    
        margin: 0 auto 1rem;
    
        width: 90%;
        border-radius: 8px;
    
      } 
    
      .gridOf3 .item3{
    
        display: flex;
       flex-direction: column;
       /*border: 1px #febe1b solid; */
       border-radius: 20px;
       padding: 15px; 
       
    
       font-family: 'Montserrat', sans-serif; 
    
       
      }
    
    
      .grid{
       /* background: #fea035;  */
        /*background-color: #fbb034;*/
        /*background-image: linear-gradient(315deg, #ffdd00 0%, #fea035 74%);*/
      
    
        color:#ffff;   
    
        /*box-shadow: 3px 3px 10px #888888;*/
    
    
        display: grid;
        grid-template-columns: 1fr 1fr;
       /* grid-template-columns: 1fr 1fr 1fr; if we wanted three items horizontally in our grid! */
        grid-gap: 10px; 
    
        margin-top: 70px;
        /*background-image: linear-gradient(315deg, #faac88 0%, #f7b689 74%);*/
  
        background-color: black;
  
        background-image: url('gold-foil-texture.jpg');
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      
      } 
    
      .grid .item{
       display: flex;
       flex-direction: column;
       /*border: 1px #febe1b solid; */
       border-radius: 10px;
       padding: 15px; 
       /*box-shadow: 1px 1px 2px #d38f41;*/
    
       font-family: 'Montserrat', sans-serif; 
       background-color: #1614145e;
      
      }  
    
    
      .grid .item h4{
      margin-bottom:5px;
      align-self: center;
      } 
    
    
      .grid .item p{
    
        font-family: 'Lato', sans-serif;
        font-size: 14px; 
        margin-bottom: 20px;
        align-self: center;
    
      }
    
      .grid .item img{
       width: 30px; 
       align-self: center;
        
    }   
  
  
   #DewPoint{
    
    text-align: center;
  
   }
  
  #fivedayforecast{
  
  display: flex;
  flex-direction: column; 
  
  } 
  
  
  #cloudForecastBtn{ 
  width: 30px;
  align-self: center;
  } 
  
  #fiveDayTriHourlyForecastTitle{
  align-self: center;
  }  
  
  
  
  
  #tryingForm{
  
  
  
  
    text-align:center;
  }
  
  
  .app-footer {
  
      margin-bottom: 112px;
      background-image: url(gold-foil-texture.jpg);
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 13px;
      text-align: center;
      font-weight: lighter;
      text-transform: uppercase;
      /* background-repeat: repeat; */
      background-size: 100%;
      /* margin-bottom: 9px; */
      margin-top: 51px;
  }
    
  
  
  a:link {
    text-decoration: none;
  }
  
  
  
  #inputForChart{
    outline: none;
      padding: 7px;
      width: 300px;
      height: 39px;
      border: 0;
      border-radius: 30px;
      font-family: 'Montserrat', sans-serif;
      /* background: #f3eded; */
      color: #ffff;
      /* display: block; */
      margin-bottom: 9px;
      background: #3e414570;
      text-align: center;
  } 
  
  
  
  
  
  
  
  #submitBtn1{
  
      outline: none;
      padding: 7px;
      width: 93px;
      height: 39px;
      border: 0;
      border-radius: 30px;
      font-family: 'Montserrat', sans-serif;
      /* background: #f3eded; */
      color: #d38f41c4;
      /* display: block; */
      margin-bottom: 9px;
      background: #3e414570;
  
  
  
  
  }
   
  
